{# empty Twig template #}
{% extends template_parent %}

{% block login %}
    {% if app.user%}
        <center>
            <img src="{{asset('/bundles/acmesfs/img/locked.png')}}" width="200px"/>
            <form  method="post" action="{{path('adminlogout')}}">
                <div class="sty-box-padding-20">
                    <span class="sty-label-green sty-font-20">Has iniciado sesión como: </span>
                    <br>
                    <span class="sty-label-gray sty-font-giant text-uppercase">{{app.user.username}}</span>
                </div> 
                <input class="btn btn-danger" type="submit" value="Cerrar sesíón"/>
            </form>
        </center>
    {% else %}
        <center>
            <img src="{{asset('/bundles/acmesfs/img/locked.png')}}" width="200px"/>
            <form  method="post" action="{{path('admincheck')}}">
                {#<span class="sty-label-green">Nombre de usuario</span><br>
                <input class="input-soft" name="_username" value="{{last}}"/><br>
                <span class="sty-label-green">Contraseña</span><br>
                <input class="input-soft" name="_password" type="password"/><br>
#}
                <div style="max-width: 300px;" class="sty-box-padding-20">
                    <div class="input-group sty-box-margin-bottom-5">
                        <span class="input-group-addon">Usuario</span>
                        <input type="text" class="form-control" name="_username" placeholder="Nombre de usuario">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Contraseña</span>
                        <input type="password" class="form-control" name="_password" placeholder="Contraseña">
                    </div>
                </div>

                {% if error %}
                    <div class="sty-box-padding-20 sty-label-red">
                        {{error.message}}
                    </div>
                {% endif %}

                <input class="btn btn-success" type="submit" value="Iniciar sesión"/>
            </form>
        </center>
    {% endif %}
{% endblock %}